/* Mobile */

@media (max-width: 450px){
    /*Tirando hover do btn*/
    .btn {
        opacity: 1;
    }

    /* formulário*/

    #event-description {
        flex-direction: column;
        height: auto;
    }

    #disclaimer {
        padding: 2em;
    }

    #disclaimer h2{
        margin-bottom: .5em;
    }

    #subscription-form{
        max-width: 70%;
        margin-bottom: 2em;
    }

    /* Benefits */

    .benefits {
        flex-direction: column;
        align-items: center;
        width: auto;
        padding: 2em;
    }

    .benefit {
        max-height: 100%;
        margin-bottom: 2em;
    }

    /* Localização */
    #location {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 2em 0;
    }


    #address {
        order: 2; /*Muda a ordem dos elementos*/
        flex-direction: column;
        max-width: 100%;
    }

    #address i {
        margin: .3em 0;
    }

    #about-location {
        order: 1;
        max-width: 100%;
    }

    #about-location h3 {
        margin-bottom: 0;
    }

    #about-location p {
        display: none;
    }

    /*  Detalhes */
    .detail {
        flex-direction: column;
        margin-bottom: .5rem;
        gap: 0;
    }

    .detail img {
        width: 100%;
        margin-bottom: 2em 0;
    }

    #detail-1 h3 {
        font-size: 2.5em;
        line-height: 1em;
    }

    #detail-1 img {
        display: none;
    }

    .datail-description {
        padding: 0;
    }

    #detail-3 img {
        order: 2;
    }
    #detail-2 img .datail-description{
        order: 1;
    }

    /*Call to action section */

    #callSection{
        text-align: center;
    }
     
    #callSection .btn{
        width: 80%;
    }
}

/*posteriomente será disponivel para outras resoluções de telas*/